
{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block metadescription %}
	Reset your password and enjoy the variety of stunning and comfy cushions.
{% endblock %}
{% block title %}
	Reset Password - Perfect Cushion Store
{% endblock %}
{% block content %}
	<div class="container">
	 <br>
	  <h1 class="my_title text-center">Reset password</h1>
		<br>
		 <div class="row">
		   <div class="bg-light mx-auto col-9">
			<div>
			 <br>
                <form method='post' action=''>{% csrf_token %}
            {{ form|crispy }}
          <span style='margin-bottom: 12px;'></span>
        <button type="submit" class="btn btn-secondary mb-3 float-right">Reset Password</button>
        </form>
      </div>
</div>
{% endblock %}



