{% extends "base.html" %}
{% load staticfiles %}
{% block metadescription %}
	{% if category %}
		{{ category.description|truncatewords:155 }}
	{% else %}
		Welcome to Broken Bucket.The only website that values your interest in broken things.
	{% endif %}
{% endblock %}
{% block title %}
	{% if category %}
		{{ category.name }}
	{% else %}
		Check out are broken cars collection.
	{% endif %}
{% endblock %}
{% block content %}
	<!--Breadcrumb navigation-->
	{% if category %}
		<div class="row my_row_class">
			<div class="mx-auto">
				<p><a href="{% url 'shop:allProdCat' %}">Our Products</a> | {{category.name}}</p>
			</div>
		</div>
	{% endif %}
	<div class="mx-auto">
	{% if category %}
	</div>
	<br>
	<div>
		<h1 class="text-center my_title">{{category.name}}</h1>
	</div>
	{% else %}
	<br>
	<div>
		<h1 class="text-center my_title">Our Products </h1>
		<p class="text-justify"> </p>
		<br>
	</div>
	{% endif %}
	<div class="container">
		<div class="row mx-auto">
			{% for product in products.object_list %}
				<div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-md-12 col-lg-4">
					<div class="card text-center" style="min-width: 18rem;">
						<a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}"></a>
						<div class="card-body">
							<h4>{{product.name}}</h4>
							<p> €{{product.price}}</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="mx-auto">
			{% if products.paginator.num_pages > 1 %}
				<hr>
				<div class="text-center">
					{% for pg in products.paginator.page_range %}
						<a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %}active{% endif %}">{{pg}}</a>
					{% endfor %}
				</div>
			{% endif %}
		</div>
		<br>
	</div>
{% endblock %}